# Environement

FASTAPI_ENV="development"
DOMAIN_URL="localhost:8000"
VERSION="v1"
PORT=8000
API_PREFIX="/api/v1"
ALLOWED_ORIGINS=["http://localhost:5173"]
ALLOWED_HOSTS=["*"]
ALGORITHM="HS256"

# Database

DEV_DATABASE_URL=postgresql+asyncpg://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{PROJECT_NAME}-postgres:5432/{POSTGRES_DB}
PROD_DATABASE_URL=""

REDIS_HOST={REDIS_HOST}
REDIS_PORT=6379
REDIS_PASSWORD={REDIS_PASSWORD}

# Authentication

AUTH_SECRET={GENERATED_AUTH_SECRET}
VERIFICATION_TOKEN_EXPIRE_MINUTES=60
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=1440
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=10080

# Mail

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM=""
MAIL_PORT=
MAIL_SERVER=""
MAIL_FROM_NAME=""


